<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paad.earthquake"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".EarthquakeSearchResults" />

        <activity
            android:name="com.paad.earthquake.search.EarthquakeSearchResults"
            android:label="Earthquake Search"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.paad.earthquake.preferences.PreferencesActivity"
            android:label="Earthquake Preferences" >
        </activity>
        <activity
            android:name="com.paad.earthquake.preferences.FragmentPreferences"
            android:label="Earthquake FragmentPreferences" >
        </activity>
        <activity
            android:name=".Earthquake"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.paad.earthquake.provider.EarthquakeProvider"
            android:authorities="com.paad.earthquakeprovider" />

        <service
            android:name=".EarthquakeUpdateService"
            android:enabled="true" />

        <receiver android:name="com.paad.earthquake.receiver.EarthquakeAlarmReceiver" >
            <intent-filter>
                <action android:name="com.paad.earthquake.ACTION_REFRESH_EARTHQUAKE_ALARM" />
            </intent-filter>
        </receiver>
        <!--  -->
        <receiver
            android:name="com.paad.earthquake.widget.EarthquakeWidget"
            android:label="Earthquake" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.paad.earthquake.QUAKES_REFRESHED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quake_widget_info" />
        </receiver>
        <!--  -->
        <receiver
            android:name="com.paad.earthquake.widget.EarthquakeListWidget"
            android:label="Earthquake List" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quake_list_widget_info" />
        </receiver>

        <service
            android:name="com.paad.earthquake.service.EarthquakeUpdateService"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <!--  -->
        <activity
            android:name=".EarthquakeLiveFolders$EarthquakeLiveFolder"
            android:label="All Earthquakes" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
            </intent-filter>
        </activity>
    </application>

</manifest>